<%- include('partials/header') %> 

<div class="download-page">
    <h1>Thank You For Downloading the app!</h1>
    <p id="download-helper">Let me know if you have any problems with the installation</p>
</div>

<% include('partials/footer') %> 