<%- include('partials/header') %>


<div class="container">
<div id="helper">
	<h1>
	Can't decide what to watch?
	</h1>
  <h3>Let me help you out :)</h3>
</div>

<div id="movieList">
	<ul>

	</ul>
</div>

<div id="poster">

</div>

<div>
<label for="number">How many suggestions would you like?</label>
<select id="number" name="numSug">
	<option value="1">GIMME 1</option>
	<option value="2">GIMME 2</option>
	<option value="3">GIMME 3</option>
	<option value="4">GIMME 4</option>
	<option value="5">GIMME 5</option>
</select>
</div>

<div>
<label for="genre">Select a genre</label>
<select id="genre" name="genre">
	<option value="0">  idc 😒️</option>
	<option value="28">Action</option>
	<option value="10749">Romance</option>
	<option value="10751">Family</option>
	<option value="53">Thriller</option>
	<option value="35">Comedy</option>
	<option value="27">Horror</option>
	<option value="16">Animation</option>
	<option value="878">Science Fiction</option>
	<option value="10402">Music</option>
	<option value="12">Adventure</option>
	<option value="99">Documentary</option>
	<option value="10752">War</option>
	<option value="18">Drama</option>
</select>
</div>

<div>
 <button>GIMME NOW!</button>
</div>

</div>

<%- include('partials/footer') %>